h1 {
    text-align: end;   /* Start or End */
    width: 50%;
    font-weight: 400;
    text-decoration: red underline;
    letter-spacing: 10px;
    font-family: Arial;   
}

h3 {
    text-align: center;   /* Left or Right */
    font-weight: 100;
    text-decoration: yellow line-through;
}

p {
    text-align: justify;
    line-height: 1.5;
    font-family: monospace, 'Times New Roman';   /*We can use multiple font in same place*/
}

h2 {
    text-align: left;
    text-decoration: blue overline;
}