.box {
    height: 150px;
    width: 150px;
    border: 2px solid black;
}

.one {
    background-color: #7fffd4;
    position: relative;
    z-index: -1;
}

.two {
    background-color: darksalmon;
    position: relative;
    bottom: 50px;
    z-index: -2;
}