div {
    width: 800px;
    height: 400px;
    background-color: #7aa874;
    margin: 10px auto;
    background-image: url("https://wallpapercave.com/wp/wp3311275.jpg");
    background-size: contain;
}