div {
    height: 200px;
    width: 200px;
    background-color: #4dff00ff;
    transition-duration: 2s;
    transition-delay: 1s; 
}

div:hover {
    background-color: black;
    border-radius: 50%;
}